@import url('https://unpkg.com/modern-css-reset/dist/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

html {
  font-size: 10px;
}

body {
  padding: 1rem;
  font-size: 1.7rem;
  font-family: 'Source Sans Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > * {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: #333;
  font-size: 1.3rem;
}

a,
a:link,
a:visited {
  color: dodgerblue;
}
